﻿@model OES.Core.ViewModels.ResetPasswordModel
@{
    ViewData["Title"] = "Forgotten Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row login-reg-div">
    <form class="login-reg-form" method="post" asp-action="EmployeeResetPassword">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" required class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" required class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" required class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>

@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AddStatus</div>
}