﻿@model OES.Core.ViewModels.EmailResetPassword
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="form-group">
        <label asp-for="EmployeeEmail"></label>
        <input asp-for="EmployeeEmail" required class="form-control" />
        <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
</form>

@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AddStatus</div>
}