﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin: auto;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#main-content-container {
    width:80%;
    margin-top:50px;
    margin-left:20%;
}

footer{
    margin-left:10%;
}

#site-navigation{
    border-color:dimgray;
    background-color:dimgray;
    font-size:18px;
}

#logo{
    margin:10px;
}

/*Sidebar menu*/

.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: dimgray;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-color:dimgray;
    display:block;
    width:20%;
}

/* The navigation menu links */
.sidenav a {
    padding: 2px 2px 2px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    transition: 0.3s;
}

.sidenav li{
    list-style:none;
    margin-top:5px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
     color: #f1f1f1;
}

/*login registration*/
.login-reg-div {
    margin-left:15%;
    background-color: #f9f9f9;
    width: 500px;
}

.login-reg-form {
    margin: 0 auto;
    width: 300px;
}

/*Vex hacking don't judge me*/
.vex-content {
    border-radius: 5px;
    font-family: "Helvetica Neue", sans-serif;
    background: #f0f0f0;
    color: #444;
    padding: 1em;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 475px;
    font-size: 1.1em;
    line-height: 1.5em;
    top: 33.3%;
    height:120px;
    text-align:center;   
}

.vex-dialog-message {
    padding-top: 5px;
    padding-bottom:10px;
}

.vex-dialog-buttons{
    float:right;
}

.vex-dialog-button-primary {
    background-color: #ee3e35;
    color: aliceblue;
    margin-top: 3px;
    height: 35px;
    width: 90px;
    border: hidden;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.vex-dialog-button-secondary {
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    height: 35px;
    width: 90px;
    border: hidden;
    background-color: lightgray;
}

/* Dropdown Button */
.dropbtn {
    background-color: dimgray;
    color: white;
    padding: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content dd-link {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content dd-link:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: gray;
}

footer{
    margin-left:20%;
}

