﻿@model OES.Core.ViewModels.AdminQuestionViewModel
@{ ViewData["Title"] = Model.Question == null ? "Add New Question" : "Edit Question"; Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="add-question">
    <div id="add-question-form" class="row">
        <form method="post">
            <h4 id="add-question-header">@(Model.Question == null ? "Add New" : "Edit") Question</h4>
            <div class="form-group">
                @if (Model.Question != null)
                {
                    <input asp-for=Question.QuestionId type="hidden" value="@Model.Question.QuestionId" />
                }
                <textarea asp-for="@Model.Question.Text" required class="form-control"></textarea>
            </div>
            <div >
                @foreach (var item in Model.QuestionCategories)
                {
                    <input asp-for="@Model.Question.ResponseCategory" type="radio" value="@item" required class="selected-category" onclick="ShowHideAvailableOptions('@item.ToString()')"/> @item
                }
            </div>
            <div>
                <h5 id="question-choice-header" style="display:none">Add choices, please use a comma (,) to separate choices.</h5>
                <textarea asp-for="@Model.Question.AvailableChoices" id="question-choices" class="form-control" style="display:none"></textarea>
            </div>
            <button type="submit" class="btn btn-success" id="add-question-button">Add Question</button>
        </form>
    </div>
</div>