﻿@model OES.Core.ViewModels.EmployeeAnswerModel 
@{ ViewData["Title"] = "Answers"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<head>
    <link rel="stylesheet" href="~/css/answers.css" />
</head>

<div>
    <form id="filter-options">
        <div style="display:inline-block; float:left;">
            <input asp-for="@Model.Search" id="answerSearch" type="text" placeholder='@Model.Search'>
            <label asp-for="@Model.From" ></label>
            <input asp-for="@Model.From" id="min-date" type="text" value="@Model.From"/>
            <label asp-for="@Model.To"></label>
            <input asp-for="@Model.To" id="max-date" type="text" value="@Model.To"/>
        </div>
        <div style="float:right;">
            <button id="answer-search-entry" type="button" class="btn btn-success" onclick="SearchAnswers()">Search</button>
            @Html.ActionLink("Clear All Filters", "Answers", "Admin")
        </div>
    </form>
</div>
<div>
    <table id="answers-table" class="table table-bordered table-striped tablesorter">
        <thead>
            <tr>
                <th>Employee Email</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Answered</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eqa in Model.EmployeeQuestionAnswerModel)
            {
                <tr>
                    <td>@eqa.Employee.EmailAddress</td>
                    <td>@eqa.Question.Text</td>
                    <td>@eqa.Answer.Value</td>
                    <td>@eqa.Answer.TimeResponded.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>