﻿@model OES.Core.ViewModels.AssignQuestionViewModel
@{
    ViewData["Title"] = "Assign Questions to Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-div">
    <input asp-for="@Model.Search" id="answerSearch" type="text" placeholder='@Model.Search'>
    <form asp-action="AssignQuestionToEmployee">
        <select asp-for="@Model.FilteredDepartment" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Department>()" class="form-control" style="width:25em;">
            <option disabled selected>--- Filter by Department ---</option>
        </select>
        <input type="submit" class="btn btn-success" value="Search">
        @Html.ActionLink("Clear", "AssignQuestionToEmployee", "Admin")
    </form>
</div>

<div id="assign-questions">
    <form method="post">
        <h4>Assign Question To Employees</h4>
        <div>
            <div>
                <h5>Choose Question(s)</h5>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <select asp-for="QuestionIds" asp-items="Model.QuestionsSelectList" size="@Model.QuestionsSelectList.Count()" class="form-control"></select>
                </div>
            </div>
            <div>
                <h5>Choose Employee(s)</h5>
                <div class="form-group">
                    <select asp-for="EmployeeIds" asp-items="Model.EmployeeSelectList" size="@Model.EmployeeSelectList.Count()" class="form-control"></select>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Assign Question</button>
        </div>
    </form>
</div>

@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AssignStatus</div>
}