﻿@model OES.Core.ViewModels.AssignQuestionViewModel
@{
    ViewData["Title"] = "Question Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-div">
    <form asp-action="AssignQuestion">
        <div style="display:inline-block">
            <select asp-for="@Model.FilteredDepartment" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Department>()" class="form-control" style="width:25em; float:left;">
                <option disabled selected>--- Filter by Department ---</option>
            </select>
            <select asp-for="@Model.CategoryFilter" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.QuestionCategory>()" class="form-control" style="width:25em; float:right">
                <option disabled selected>--- Filter by Question Category ---</option>
            </select>
        </div>
        <div></div>
        <div style="display:inline-block">
            <label asp-for="@Model.From"></label>
            <input asp-for="@Model.From" id="min-date" type="text" value="@Model.From" />
            <label asp-for="@Model.To"></label>
            <input asp-for="@Model.To" id="max-date" type="text" value="@Model.To" />
        </div>
        <div>
            <input asp-for="@Model.Search" id="answerSearch" type="text" placeholder='@Model.Search'>
            <input type="submit" class="btn btn-success" value="Search">
            @Html.ActionLink("Clear All Filters", "AssignQuestion", "Admin")
        </div>
    </form>
</div>

<div class="container container-fluid">
    @Html.ActionLink("Assign Questions to Employees", "AssignQuestionToEmployee", "Admin")
    <table class="active-questions-table table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Question</th>
                <th>Date Assigned</th>
                <th></th>
                <th>Reminders Sent</th>
                <th>Last Reminder Date</th>
                <th>Unassign Question</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eq in Model.EmployeeQuestionViewModel)
            {
                <tr>
                    <td>@eq.EmployeeName</td>
                    <td>@eq.QuestionText</td>
                    <td>@eq.DateAssigned</td>
                    <td><button class="btn btn-primary" id="@eq.EmployeeQuestionId" onclick="SendReminderEmail(this)">Remind</button></td>
                    <td>@eq.RemindersSent</td>
                    <td>@eq.LastReminderDate</td>
                    <td><button class="btn btn-primary" value="@eq.EmployeeQuestionId" onclick="UnassignQuestion(this)">Unassign</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.AssignStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AssignStatus</div>
}