﻿@model OES.Core.ViewModels.EmployeeEditModel
@{
    ViewData["Title"] = "Edit Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="EditEmployee">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.FirstName"></label>
        <input asp-for="@Model.FirstName" class="form-control" value="@Model.FirstName" />
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.LastName"></label>
        <input asp-for="@Model.LastName" class="form-control" value="@Model.LastName" />
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.EmailAddress"></label>
        <input asp-for="@Model.EmailAddress" class="form-control" value="@Model.EmailAddress" />
        <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group" style="display:none">
        <input asp-for="@Model.EmployeeId" value="@Model.EmployeeId" />
        <input asp-for="@Model.LastEmail" value="@Model.LastEmail" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Department"></label>
        <select asp-for="@Model.Department" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Department>()" class="form-control"></select>
        <span asp-validation-for="@Model.Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Role"></label>
        <select asp-for="@Model.Role" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Roles>()" class="form-control"></select>
        <span asp-validation-for="@Model.Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        @Html.ActionLink("Back", "EmployeeManagement", "Admin", null, new { @class = "btn btn-danger" })
    </div>
</form>



@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AddStatus</div>
}