﻿@model OES.Core.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Employee Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-fluid">
    <form asp-action="EmployeeManagement">
        <div>
            Search by Employee Name or Email.
            <input asp-for="@Model.Search" id="answerSearch" type="text" placeholder='@Model.Search'>
            <select asp-for="@Model.FilteredDepartment" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Department>()" class="form-control" style="width:15em;">
                <option disabled selected>--- Filter by Department ---</option>
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Search">
            @Html.ActionLink("Clear", "EmployeeManagement", "Admin")
        </div>
    </form>

    <table class="employee-management-table table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Deparment</th>
                <th style="width:150px;">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.EmployeeList)
            {
                <tr>
                    <td class="firstname-lastname">@string.Format("{0} {1}", e.FirstName, e.LastName)</td>
                    <td class="employee-email">@e.EmailAddress</td>
                    <td>@e.Department.ToString().GetDepartmentName()</td>
                    <td id="employee-management-options">
                        <a href="@Url.Action("EditEmployee", "Admin", new { employeeId = e.EmployeeId })"><i class="glyphicon glyphicon-edit" title="Edit User"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-remove-circle" style="color:red" onclick="DeleteEmployee('@e.EmployeeId')" title="Delete User"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-log-in" style="color:goldenrod" onclick="ResetPassword('@e.EmployeeId')" title="Reset Password"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="add-employee">
        <a class="btn btn-success" href="#" onclick="ToggleAddEmployee(true)">Add new employee</a>
    </div>
    <div id="add-employee-form" class="add-edit-employee-form">
        <form method="post" asp-action="AddNewEmployee">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Employee.FirstName"></label>
                <input asp-for="@Model.Employee.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.LastName"></label>
                <input asp-for="@Model.Employee.LastName" class="form-control" />
                <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.EmailAddress"></label>
                <input asp-for="@Model.Employee.EmailAddress" class="form-control" />
                <span asp-validation-for="@Model.Employee.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Department"></label>
                <select asp-for="@Model.Employee.Department" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Department>()" class="form-control"></select>
                <span asp-validation-for="@Model.Employee.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Role"></label>
                <select asp-for="@Model.Employee.Role" asp-items="Html.GetEnumSelectList<OES.Core.Enumerations.Roles>()" class="form-control"></select>
                <span asp-validation-for="@Model.Employee.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-danger" onclick="CancelAddEdit()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AddStatus</div>
}