﻿@model OES.Core.ViewModels.AdminQuestionViewModel
@{
    ViewData["Title"] = "Question Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form asp-action="Question">
        <div>
            Search by text and/or question category.
            <input asp-for="@Model.Search" id="answerSearch" type="text" placeholder='@Model.Search'>
            @foreach (var item in Model.QuestionCategories)
            {
                <input asp-for="@Model.QuestionFormat" type="radio" value="@item" class="selected-category" /> @item
            }
        </div>
        <div> 
            <input type="submit" class="btn btn-success" value="Search">
            @Html.ActionLink("Clear All Filters", "Question", "Admin")
        </div>
    </form>

    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="admin-question-table table table-bordered table-striped">
        <thead>
            @Html.ActionLink("Add New Question", "AddQuestion", "Admin")
            <tr>
                <th>Text</th>
                <th>Type</th>
                <th>Available Options</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.QuestionList)
            {
                <tr>
                    <td id="question-text">@question.Text</td>
                    <td id="question-category">@question.ResponseCategory.ToString()</td>
                    <td>@question.AvailableChoices</td>
                    <td>@Html.ActionLink("Edit", "AddQuestion", "Admin", new { questionId = question.QuestionId }, new { @class = "btn btn-primary" })</td>
                    <td><button type="button" class="btn btn-danger" onclick="DeleteQuestion(this)" id="@question.QuestionId" />Delete</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AddStatus</div>
}