﻿@page
@model OES.Web.Pages.AnswerQuestionsModel
@{
    ViewData["Title"] = "AnswerQuestions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>AnswerQuestions</h2>

<div class="container">
    @foreach (var question in Model.EmployeeTextQuestions)
    {
        <form method="post">
            <h4>@question.Text</h4>
            <div class="form-group">
                <input asp-for=Answer.QuestionId type="hidden" value="@question.QuestionId" />
                <textarea asp-for="Answer.Value" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Answer</button>
        </form>
    }
    @foreach (var question in Model.EmployeeChoiceQuestions)
    {
        <form method="post">
            <h4>@question.Text</h4>
            Strongly Agree
            @foreach (var choice in Model.AvailableChoices)
            {
                <div class="form-group">
                    <input asp-for=Answer.QuestionId type="hidden" value="@question.QuestionId" />
                    <input asp-for="Answer.Value" type="radio" value="@choice" /> @choice
                </div>
            }
            Strongly Disagree
            <button type="submit" class="btn btn-default">Answer</button>
        </form>
    }
    @foreach (var question in Model.EmployeeFrequencyQuestions)
    {
        <form method="post">
            <h4>@question.Text</h4>
            Always
            @foreach (var choice in Model.AvailableChoices)
            {
                <div class="form-group">
                    <input asp-for=Answer.QuestionId type="hidden" value="@question.QuestionId" />
                    <input asp-for="Answer.Value" type="radio" value="@choice" /> @choice
                </div>
            }
            Never
            <button type="submit" class="btn btn-default">Answer</button>
        </form>
    }
</div>