﻿@page
@model OES.Web.Pages.AssignQuestionsModel
@{
    ViewData["Title"] = "AxQuestions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2>AssignQuestions</h2>

<div class="col-md-4">
    <form method="post">
        <h4>Assign Question To Employees</h4>
        <hr />
        <h5>Choose Question(s)</h5>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">

        </div>
        <select asp-for="QuestionIds" asp-items="Model.QuestionsSelectList"></select>
        <h5>Choose Employee(s)</h5>
        <div class="form-group">
            <select asp-for="EmployeeIds" asp-items="Model.EmployeeSelectList"></select>
        </div>
        <button type="submit" class="btn btn-default">Assign Question</button>
    </form>
</div>