﻿@page
@model OES.Web.Pages.QuestionsModel
@{
    ViewData["Title"] = "BaseUserQuestions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Base User Questions</h2>
<div>
    @foreach (var question in Model.Questions)
    {
        <div>@question.Text</div>
        <div>@question.ResponseCategory</div>
    }
</div>

