﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome to Open Energy Survey</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <div>Please Sign in</div>
    }
    else
    {
        <div>@User.Identity.Name</div>
        <div>@Model.Employee.FirstName</div>
    }
</div>
