﻿@page
@model OES.Web.Pages.QuestionsModel
@{
    ViewData["Title"] = "Questions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Questions</h2>
<div>
    @foreach (var question in Model.Questions)
    {
        <div>@question.Text</div>
        <div>@question.ResponseCategory</div>
    }
</div>

<div id="add-question">
    @if (Model.Employee.Role.ToString() == "AdminUser")
    {
        <h2>Add Question</h2>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <h4>Add New Question</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Question.Text"></label>
                        <textarea asp-for="@Model.Question.Text" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Question.Text" class="text-danger"></span>
                    </div>
                    <div class="col-md-10">
                        @foreach (var item in Model.QuestionCategories)
                        {
                            <input asp-for="ChosenCategory" type="radio" value="@item" /> @item
                        }
                    </div>
                    <button type="submit" class="btn btn-default">Add Question</button>
                </form>
            </div>
        </div>
    }
</div>