﻿@page
@model OES.Web.Pages.ViewAnswersModel
@{
    ViewData["Title"] = "ViewAnswers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>ViewAnswers</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>Employee Email</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Answered</th>
        </tr>
        @foreach(var eqa in Model.EmployeeQuestionAnswers)
        {
            <tr>
                <td>@eqa.Employee.EmailAddress</td>
                <td>@eqa.Question.Text</td>
                <td>@eqa.Answer.Value</td>
                <td>@eqa.Answer.TimeResponded</td>
            </tr>
        }
    </table>
</div>