﻿@model IEnumerable<OES.Entities.Employee.ViewModels.EmployeeDisplayViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>Employees</h2>
<div>
    @Html.DisplayNameFor(m => m.FirstName)
    @foreach(var item in Model)
    {
        @Html.DisplayName(item.FirstName)
        @Html.DisplayName(item.Role)
    }
</div>