﻿@model OES.Core.ViewModels.EmployeeUnansweredViewModel
@using System.Text;

@{
    ViewData["Title"] = "My Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/employee-questions.css" />
</head>

@if (Model.QuestionCount > 0)
{
<div class="container" id="questions-container">
    <p>
        You have @Model.QuestionCount question(s) to answer.
    </p>

    @if (Model.QuestionToAnswer.ResponseCategory == OES.Core.Enumerations.QuestionCategory.FreeText)
    {
        <form method="post">
            <div class="form-group">
                <h4>@Model.QuestionToAnswer.Text</h4>
                <input asp-for=Answer.QuestionId type="hidden" value="@Model.QuestionToAnswer.QuestionId" />
                <textarea asp-for="Answer.Value" required class="form-control"></textarea>
                <button type="submit" class="btn btn-success">Answer</button>
            </div>
        </form>
    }
    else
    {
        <form method="post">
            <h4>@Model.QuestionToAnswer.Text</h4>
            <table>
                @foreach (var choice in Model.AvailableChoices)
                {
                    <tr>
                        <td>
                            <input asp-for=Answer.QuestionId type="hidden" value="@Model.QuestionToAnswer.QuestionId" />
                            <input name="answer_input" asp-for="Answer.Value" type="@Model.QuestionToAnswer.ResponseCategory.ToString()" value="@choice" /> @choice
                        </td>
                    </tr>
                }
            </table>
            <button type="submit" class="btn btn-success">Answer</button>
        </form>
    }
</div>
}
else
{
    <div>You have no questions to answer.</div>
}

@if (ViewBag.AddStatus != null)
{
    <div class="confirmation-message" style="display:none">@ViewBag.AddStatus</div>
}